$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;


.html,body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: hidden;
}

.slider {
  position: relative;
  top: -78px;
  height: 600px;
  background-image: url("../img/aboutUs/slider1.png");
  background-size: cover;
  background-position: center;
  .slider-info {
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: 65px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
  .btn-down {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateY(65%);
    text-align: center;
    line-height: 50px;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.20);

  }
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 118px;
  h3 {
    color: $secondary;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
  }
  p {
    color: #908886;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.about-images {
  position: relative;
  .about-image1 {
    position: absolute;
    top: 130px;
    left: -50px;
    width: 270px;
    height: 250px;
    background-image: url("../img/packages-img/package1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    .about-img-overlay {
      width: 270px;
      height: 101px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.20);
      display: flex;
      align-items: end;
      padding-left: 25px;
      p {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        span {
          color: #FDD500;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
  }
  .about-image2 {
    position:absolute;
    top: -78px;
    left: 70px;
    width: 300px;
    height: 250px;
    background-image: url("../img/packages-img/package2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    .about-img-overlay {
      width: 300px;
      height: 122px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.20);
      display: flex;
      align-items: end;
      padding-left: 25px;
      p {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        span {
          color: #FDD500;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
  }
  .about-image3 {
    position: absolute;
    top: 172px;
    left: 178px;
    width: 260px;
    height: 250px;
    background-image: url("../img/packages-img/package3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    .about-img-overlay {
      width: 260px;
      height: 122px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.20);
      display: flex;
      align-items: end;
      padding-left: 25px;
      p {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        span {
          color: #FDD500;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
  }
  .about-image4 {
    position: absolute;
    top: 0;
    left: 310px;
    width: 170px;
    height: 200px;
    background-image: url("../img/packages-img/package4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    .about-img-overlay {
      width: 170px;
      height: 122px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.20);
      display: flex;
      align-items: end;
      padding-left: 25px;
      p {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        span {
          color: #FDD500;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
  }
}

.meet-team {
  background-image: url("../img/aboutUs/slider2.jpg");
  background-size: cover;
  background-position: center;
  .meet-team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    padding: 183px 0 293px 0;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 54px;
      font-style: normal;
      font-weight: 400;
      line-height: 66px;
      letter-spacing: 1px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .team-item {
    position: relative;
    top: -50px;
    background: #FFF;
    box-shadow: 7px 7px 50px 0 rgba(0, 0, 0, 0.20);
    padding: 40px 40px 0 40px;
    .team-item-img {
      width: 220px;
      height: 260px;
      border-radius: 5px;
      box-shadow: 14px 14px 80px 0 rgba(0, 0, 0, 0.20);
    }
    .team-item-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h5 {
        color: $secondary;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding-top: 24px;
      }
      p {
        color: $primary;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding-top: 16px;
      }
      a {
        color: #5C78CF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        padding: 15px 0 30px 0;
      }
    }
  }
}
.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";