$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;


.html,body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: hidden;
}

.slider {
  position: relative;
  top: -78px;
  height: 800px;
  background-image: url("../img/contact/slider.jpg");
  background-size: cover;
  background-position: center;
  .slider-info {
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: 65px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 14px 14px 60px 0 rgba(0, 0, 0, 0.20);
  .contact-form {
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .heading-form {
      width: 530px;
      h3 {
        color: $secondary;
        font-size: 37px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1px;
        padding-bottom: 19px;
      }
      p {
        color: #908886;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 10px;
      }
    }
    .contact-input {
      width: 530px;
      div {
        padding-bottom: 10px;
        .phone {
          width: 255px;
          height: 50px;
          background-color: white;
          border-width: 0 0 1px 0;
          border-color: #E2D8D6;
          border-style: solid ;
        }
        .name {
          width: 255px;
          height: 50px;
          background-color: white;
          border-width: 0 0 1px 0;
          border-color: #E2D8D6;
          border-style: solid ;
        }
      }
      .email {
        width: 530px;
        height: 50px;
        background-color: white;
        border-width: 0 0 1px 0;
        border-color: #E2D8D6;
        border-style: solid ;
        padding-bottom: 10px;
      }
      .mess {
        width: 530px;
        height: 120px;
        background-color: white;
        border-width: 0 0 1px 0;
        border-color: #E2D8D6;
        border-style: solid;
      }
      .submit {
        width: 113px;
        height: 46px;
        background-color: $primary;
        color: rgba(249, 248, 246, 0.80);
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border: none;
        margin-top: 20px;
      }
    }
  }
  .contact-social {
    width: 460px;
    height: 624px;
    background-image: url("../img/contact/contact-img.png");
    background-size: cover;
    background-position: center;
    .social {
      width: 100%;
      height: 100%;
      background-color: rgba(233, 137, 91, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: end;
      .social-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
        h5 {
          color: #FFF;
          text-align: center;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        .social-item {
          display: flex;
          align-items: center;
          color: white;
          width: 190px;
          height: 41px;
          background: #E9895B;
          margin-bottom: 6px;
          .social-icon {
            padding: 0 25px;
          }
        }
      }
    }
  }
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: $primary;
}

.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";