$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;

$base-font-size: 15px;

@function px-to-rem($px) {
  @return #{$px / $base-font-size}rem;
}

.html,body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.top-45 {
  top:45% !important;
}

.slider-box {
  position: relative;
  top: -3.73rem;
}

.slider-heading {
  font-size: 4.53rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: $secondary;
  text-align: center;
  display: block;
}

.slider-desc {
  color: $secondary;
  display: inline-block;
  text-align: center;
  font-size: 1.867rem;
  font-weight: 400;
  line-height: 2.53rem;
  padding: 3rem 0.25rem 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-box {
  position: relative;
}

.intro {
  max-width: px-to-rem(460px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: white;
  position: absolute;
  bottom: px-to-rem(290px);
  left: px-to-rem(230px);
  div{
    padding: 0 px-to-rem(55px);
    h3 {
      padding: px-to-rem(47px) 0;
      font-size: px-to-rem(35px);
      color: $secondary;
    }
    h5 {
      font-size: px-to-rem(19px);
      color: $primary;
      padding-bottom: px-to-rem(14px);
    }
    p {
      font-size: px-to-rem(14px);
      color:#8F7A74;
      padding-bottom: px-to-rem(26px);
    }
  }
  .line {
    position: relative;
    .btn-down {
      position: absolute;
      top: px-to-rem(300px);
      left: px-to-rem(144px);
      background-color: white;
      box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.20);
      padding: 0;
      width: px-to-rem(50px);
      height: px-to-rem(50px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.line::after {
  content: "";
  position: absolute;
  left: 43%;
  top: 0;
  bottom: 0;
  width:px-to-rem(2px);
  height: px-to-rem(300px);
  background-color: white;
}

.packages {
  min-width: px-to-rem(410px);
  min-height: px-to-rem(440px);
  position: absolute;
  top: px-to-rem(-75px);
  right: px-to-rem(180px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: white;
  .packages-info {
    padding: 0 px-to-rem(55px);
    h4 {
      font-size: px-to-rem(25px);
      color: $secondary;
      padding: px-to-rem(51px) 0 px-to-rem(25px) 0;
    }
    p {
      font-size: 1rem;
      color: #908886;
    }
  }
  .package-image {
    position: relative;
    .package-img1 {
      position: absolute;
      top: px-to-rem(234px);
      right: px-to-rem(225px);
      width: px-to-rem(270px);
      height: px-to-rem(250px);
      background-image: url("../img/packages-img/package1.jpg");
      background-position: center;
      background-size: cover;
      display: flex;
      align-items:end;
      justify-content: center;
      div{
        height: px-to-rem(100px);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .package-img2 {
      position: absolute;
      left: px-to-rem(-25px);
      top: px-to-rem(30px);
      width: px-to-rem(300px);
      height: px-to-rem(250px);
      background-image: url("../img/packages-img/package2.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
      display: flex;
      align-items: end;
      justify-content: center;
      div{
        height: px-to-rem(100px);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .package-img3 {
      position: absolute;
      left: px-to-rem(82px);
      top: px-to-rem(280px);
      width: px-to-rem(260px);
      height: px-to-rem(250px);
      background-image: url("../img/packages-img/package3.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
      display: flex;
      align-items: end;
      justify-content: center;
      div{
        height: px-to-rem(100px);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .package-img4 {
      position: absolute;
      right: px-to-rem(25px);
      top: px-to-rem(100px);
      width: px-to-rem(170px);
      height: px-to-rem(200px);
      background-image: url("../img/packages-img/package4.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
      display: flex;
      align-items: end;
      justify-content: center;
      div{
        height: px-to-rem(100px);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

}

.location-box {
  display: flex;
  background: linear-gradient(180deg, rgba(233, 137, 91, 0.00) 0%, #E9895B 86.46%);
  .location-info {
    margin: px-to-rem(100px) 0 px-to-rem(50px) px-to-rem(270px);
    max-width: px-to-rem(460px);
    max-height:px-to-rem(520px);
    h3 {
      font-size: px-to-rem(39px);
      color: $secondary;
      padding: px-to-rem(52px) 0 px-to-rem(48px) 0;
    }
    h5 {
      font-size: px-to-rem(19px);
      color: white;
      padding-bottom: px-to-rem(14px);
      margin: 0;
    }
    p {
      font-size: px-to-rem(14px);
      color: white;
      padding-bottom: px-to-rem(26px);
      margin: 0;
    }
  }
  .location-img {
    margin: px-to-rem(145px) 0 0 px-to-rem(50px);
    width: px-to-rem(600px);
    height: px-to-rem(510px);
  }
}

.member-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .membership-cards {
    display: flex;
    width: px-to-rem(940px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: px-to-rem(80px);
    padding-top: px-to-rem(80px);
    .membership-heading {
      color: $secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: px-to-rem(34px);
      text-align: center;
      h2 {
        font-size: px-to-rem(55px);
      }
      p {
        font-size: px-to-rem(27px);
      }
    }
    .membership-content{
      width: px-to-rem(960px);
      height: px-to-rem(508px);
      display: flex;
      .membership-info {
        display: inline-flex;
        height: px-to-rem(412px);
        padding: 0 px-to-rem(30px) 0 px-to-rem(10px);
        margin: px-to-rem(48px) 0 px-to-rem(48px) px-to-rem(45px);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: px-to-rem(30px);
        flex-shrink: 0;
        .membership-info-item {
          display: flex;
          width: px-to-rem(322.5px);
          height: px-to-rem(191px);
          padding: px-to-rem(84px) px-to-rem(21.5px) 0 px-to-rem(1px);
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: px-to-rem(12px);
          flex-shrink: 0;
          .membership-info-title {
            text-align: center;
            color: $primary;
            font-size: px-to-rem(18px);
            font-style: normal;
            font-weight: 400;
            line-height: px-to-rem(24px);
            text-transform: capitalize;
          }
          .membership-info-desc {
            color: #908886;
            text-align: center;
            font-size: px-to-rem(14px);
            font-style: normal;
            font-weight: 400;
            line-height: px-to-rem(24px);
          }
        }
      }
      .membership-price {
        display: inline-flex;
        height: px-to-rem(508px);
        padding: 0 px-to-rem(9px) 0 px-to-rem(20.5px);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: px-to-rem(30px);
        flex-shrink: 0;
        .membership-price-item {
          width: px-to-rem(478px);
          height: px-to-rem(239px);
          flex-shrink: 0;
          background: #ECEAE4;
          color: $secondary;
          box-shadow: px-to-rem(14px) px-to-rem(14px) px-to-rem(40px) 0 rgba(0, 0, 0, 0.19);
          .item-price {
            text-align: end;
            font-size: px-to-rem(25px);
            margin: px-to-rem(24px) px-to-rem(24px) 0 0;
            span {
              font-size: px-to-rem(10px);
            }
          }
          .item-include {
            font-size: px-to-rem(15px);
            margin: 0 0 0 px-to-rem(75px);
          }
          .item-name {
            margin: px-to-rem(36px) 0 0 px-to-rem(45px);
            color: #FFF;
            font-size: px-to-rem(85px);
            font-style: normal;
            font-weight: 400;
            line-height: px-to-rem(73px);
          }
        }
      }
    }
  }
  .member-img {
    position: absolute;
    top: px-to-rem(345px);
    right: px-to-rem(-260px);
    width: px-to-rem(688px);
    height: px-to-rem(510px);
    flex-shrink: 0;
    background-image: url("../img/img4.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";
