$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;


html {
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url("../img/Home/header-img.jpg");
  background-size: cover;
  background-position: center;
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    .slider-content {
      padding: 10rem 0 18rem 0;
      h2 {
        color: $secondary;
        text-align: center;
        font-size: 4.53rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.8rem;
        margin: 0;
      }
      p {
        color: $secondary;
        text-align: center;
        font-size: 1.867rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.53rem;
        padding: 3.2rem 0 2.7rem 0;
        margin: 0;
      }
      .slider-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.67rem;
      }
    }
  }
}
main {
  flex: 1;
  .intro-img {
    position: relative;
    left: -7.88rem;
    bottom: 0;
    width: 48.2rem;
    height: 34rem;
    padding-top: 3.67rem;
  }
  .intro {
    position: absolute;
    max-width: 64rem;
    left: 15.5rem;
    top: -8.3rem;
    .intro-info {
      position: relative;
      float: left;
      width: 30.67rem;
      padding: 3.13rem 0 1.8rem 3.67rem;
      background: #FFF;
      box-shadow: 0.93rem 0.93rem 4rem 0 #CEC4BC;
      h4 {
        color: $secondary;
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.67rem;
        padding-bottom: 1.33rem;
        margin: 0;
      }
      h6 {
        color: $primary;
        font-size: 1.267rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.53rem;
        padding-top: 1.73rem;
        margin: 0;
      }
      p {
        color: #8F7A74;
        font-size: 0.867rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        padding-top: 0.93rem;
        margin: 0;
      }
      .vertical-line {
        position: absolute;
        left: 10rem;
        width: 0.13rem;
        height: 21rem;
        background-color: white;
      }
      .btn-down {
        position: absolute;
        bottom: -20.867rem;
        left: 8.5rem;
        width: 3.3rem;
        height: 3.3rem;
        background: #FFF;
        box-shadow: 0.467rem 0.467rem 1.3rem 0 rgba(0, 0, 0, 0.20);
        text-align: center;
        line-height: 3.3rem;
      }
    }
    .intro-packages {
      float: right;
      width: 27.3rem;
      background: #F3F1EC;
      box-shadow: 0.467rem 0.467rem 4.67rem 0 #C0A9A0;
      padding: 3.4rem 0 0 3.13rem;
      margin-top: 7.3rem;
      .intro-packages-heading {
        color: $secondary;
        font-size: 1.67rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.3rem;
        padding-bottom: 1.67rem;
        margin: 0;
      }
      .intro-packages-desc {
        color: #908886;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        padding-bottom: 2.267rem;
        margin: 0;
      }
      .packages-img {
        width: 27.3rem;
        height: 13.67rem;
        position: relative;
        right: 4.67rem;
        .package-img1 {
          position: absolute;
          top: 14rem;
          right: 18rem;
          width: 18rem;
          height: 16.67rem;
          box-shadow: 0.93rem 0.93rem 2.67rem 0 rgba(0, 0, 0, 0.40);
          background-image: url("../img/Home/package/package1.jpg");
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: end;
          .package-img1-overlay {
            width: 18rem;
            height: 6.67rem;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            p {
              color: #FFF;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.4rem;
              padding: 0 0 1.67rem 1.67rem;
              margin: 0;
              span {
                color: #FDD500;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.4rem;
              }
            }
          }
        }
        .package-img2 {
          position: absolute;
          top: 0;
          right: 8rem;
          width: 20rem;
          height: 16.67rem;
          box-shadow: 0.93rem 0.93rem 2.67rem 0 rgba(0, 0, 0, 0.40);
          background-image: url("../img/Home/package/package2.jpg");
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: end;
          .package-img2-overlay {
            width: 20rem;
            height: 8.13rem;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            p {
              color: #FFF;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.4rem;
              padding: 0 0 1.67rem 1.67rem;
              margin: 0;
              span {
                color: #FDD500;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.4rem;
              }
            }
          }
        }
        .package-img3 {
          position: absolute;
          bottom: -19.67rem;
          right: 3.5rem;
          width: 17.3rem;
          height: 16.67rem;
          box-shadow: 0.93rem 0.93rem 2.67rem 0 rgba(0, 0, 0, 0.40);
          background-image: url("../img/Home/package/package3.jpg");
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: end;
          .package-img3-overlay {
            width: 17.3rem;
            height: 8.13rem;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            p {
              color: #FFF;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.4rem;
              padding: 0 0 1.67rem 1.67rem;
              margin: 0;
              span {
                color: #FDD500;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.4rem;
              }
            }
          }
        }
        .package-img4 {
          position: absolute;
          top: 5.33rem;
          right: 0;
          width: 11.3rem;
          height: 13.3rem;
          box-shadow: 0.93rem 0.93rem 2.67rem 0 rgba(0, 0, 0, 0.40);
          background-image: url("../img/Home/package/package4.jpg");
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: end;
          .package-img4-overlay {
            width: 11.3rem;
            height: 8.13rem;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            p {
              color: #FFF;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.4rem;
              padding: 0 0 1.67rem 1.67rem;
              margin: 0;
              span {
                color: #FDD500;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

.location {
  background: linear-gradient(180deg, rgba(233, 137, 91, 0.00) 0%, #E9895B 86.46%);
  padding-top: 10rem;
  display: flex;
  justify-content: end;
  .location-info {
    width: 30.67rem;
    padding: 3.467rem 0 3.867rem 2rem;
    h3 {
      color: $secondary;
      font-size: 2.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.67rem;
      padding-bottom: 1.3rem;
      margin: 0;
    }
    h6 {
      color: #FFF;
      font-size: 1.267rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.53rem;
      padding-top: 1.73rem;
      margin: 0;
    }
    p {
      color: #FFF6F1;
      font-size: 0.93rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6rem;
      padding-top: 0.93rem;
      margin: 0;
    }
  }
  .location-img {
    width: 43.867rem;
    height: 34rem;
  }
}

.member-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .membership-cards {
    display: flex;
    width: 62.67rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
    padding-top: 5.3rem;
    .membership-heading {
      color: $secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.267rem;
      text-align: center;
      h2 {
        font-size: 3.67rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
    .membership-content{
      width: 64rem;
      height: 33.867rem;
      display: flex;
      .membership-info {
        display: inline-flex;
        height: 27.467rem;
        padding: 0 2rem 0 0.67rem;
        margin: 3.2rem 0 3.2rem 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        .membership-info-item {
          display: flex;
          width: 21.5rem;
          height: 12.73rem;
          padding: 5.6rem 1.43rem 0 0.067rem;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 0.8rem;
          .membership-info-title {
            text-align: center;
            color: $primary;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6rem;
            text-transform: capitalize;
          }
          .membership-info-desc {
            color: #908886;
            text-align: center;
            font-size: 0.93rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6rem;
          }
        }
      }
      .membership-price {
        display: inline-flex;
        height: 33.867rem;
        padding: 0 0.6rem 0 1.367rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        .membership-price-item {
          width: 31.867rem;
          height: 15.93rem;
          background: #ECEAE4;
          color: $secondary;
          box-shadow: 0.93rem 0.93rem 2.67rem 0 rgba(0, 0, 0, 0.19);
          .item-price {
            text-align: end;
            font-size: 1.67rem;
            margin: 1.6rem 1.6rem 0 0;
            span {
              font-size: 0.67rem;
            }
          }
          .item-include {
            font-size: 1rem;
            margin: 0 0 0 5rem;
          }
          .item-name {
            margin: 2.4rem 0 0 3rem;
            color: #FFF;
            font-size: 5.67rem;
            font-style: normal;
            font-weight: 400;
            line-height: 4.867rem;
          }
        }
      }
    }
  }
  .member-img {
    position: absolute;
    top: 23rem;
    right: -17.3rem;
    width: 45.867rem;
    height: 34rem;
    flex-shrink: 0;
    background-image: url("../img/img4.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";