$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;


.html,body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: hidden;
}

.slider {
  position: relative;
  top: -78px;
  height: 800px;
  background-image: url("../img/join/slider1.png");
  background-size: cover;
  background-position: center;
  .slider-info {
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: 65px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

.reasons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  .reasons {
    position: relative;
    top: -190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    .reasons-info {
      display: flex;
      justify-content: center;
      align-items: center;
      .reasons-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28px;
        h3 {
          color: $secondary;
          font-size: 41px;
          font-style: normal;
          font-weight: 400;
          line-height: 43px;
        }
        p {
          color: #908886;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .reasons-img {
        width: 520px;
        height: 294px;
        position: relative;
        .reasons-img1 {
          position: absolute;
          top: 112px;
          left: 50px;
          width: 270px;
          height: 250px;
          background-image: url("../img/join/reasons-img/reason1.jpg");
          background-position: center;
          background-size: cover;
          box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
          display: flex;
          align-items: end;
          .reasons-img-overlay {
            width: 270px;
            height: 122px;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            padding-left: 25px;
            p {
              color: #FFF;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
            span {
              color: #FDD500;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
          }
          .number {
            position: absolute;
            top: -15px;
            left: 20px;
            display: block;
            width: 30px;
            height: 30px;
            background: #FFF;
            color: $primary;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
          }
        }
        .reasons-img2 {
          position: absolute;
          top: -120px;
          left: 120px;
          width: 336.6px;
          height: 250px;
          background-image: url("../img/join/reasons-img/reason2.jpg");
          background-position: center;
          background-size: cover;
          box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
          display: flex;
          align-items: end;
          .reasons-img-overlay {
            width: 336.6px;
            height: 122px;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            padding-left: 25px;
            p {
              color: #FFF;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
            span {
              color: #FDD500;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
          }
          .number {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 30px;
            height: 30px;
            background: #FFF;
            color: $primary;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
          }
        }
        .reasons-img3 {
          position: absolute;
          top: 145px;
          right: -25px;
          width: 260px;
          height: 250px;
          background-image: url("../img/join/reasons-img/reason3.jpg");
          background-position: center;
          background-size: cover;
          box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
          display: flex;
          align-items: end;
          .reasons-img-overlay {
            width: 260px;
            height: 122px;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            padding-left: 25px;
            p {
              color: #FFF;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
            span {
              color: #FDD500;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
          }
          .number {
            position: absolute;
            top: 23px;
            left: -15px;
            display: block;
            width: 30px;
            height: 30px;
            background: #FFF;
            color: $primary;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
          }
        }
        .reasons-img4 {
          position: absolute;
          top: -25px;
          right: -70px;
          width: 243px;
          height: 200px;
          background-image: url("../img/join/reasons-img/reason4.jpg");
          background-position: center;
          background-size: cover;
          box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.40);
          display: flex;
          align-items: end;
          .reasons-img-overlay {
            width: 243px;
            height: 103px;
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: end;
            padding-left: 25px;
            p {
              color: #FFF;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
            span {
              color: #FDD500;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
          }
        }
        .number {
          position: absolute;
          top: -15px;
          left: 20px;
          display: block;
          width: 30px;
          height: 30px;
          background: #FFF;
          color: $primary;
          text-align: center;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 34px;
        }
      }
    }
  }
}

.jobs {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  .job {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.20);
    .job-info {
      padding: 29px 0 25px 60px;
      .job-name {
        color: $secondary;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 21px;
      }
      .job-desc {
        color: #8F7A74;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .btn-down {
      width: 14px;
      height: 20px;
      padding-right: 60px;
    }
  }
}
.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";