$nav-link-color: #978C89;
$primary: #E9895B;
$secondary:#1C2749;
$light: #F1EFE9;


.html,body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: hidden;
}
.slider {
  position: relative;
  top: -78px;
  height: 600px;
  background-image: url("../img/products/slider.jpg");
  background-size: cover;
  background-position: center;
  .slider-info {
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: 65px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
  .btn-down {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateY(65%);
    text-align: center;
    line-height: 50px;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.20);

  }
}

.about-products {
  display: flex;
  flex-direction: column;
  padding: 112px 0;
  h3 {
    color: $secondary;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    padding-bottom: 28px;
  }
  p {
    color: #908886;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 24px;
  }
}

.services {
  max-width: 450px;
  background: #FFF;
  box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.15);
  margin: 0 20px;
  .wrapper {
    padding: 27px 50px 0 50px;
    h3 {
      color: $secondary;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 43px;
    }
    .service-item {
      max-width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #E0E0E0;
      padding: 16px 0;
      .service-info {
        .h6 {
          color: $secondary;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
        p {
          color: $secondary;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
      }
      .service-price {
        color: $primary;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

.membership-cards {
  display: flex;
  width: 940px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  .membership-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;
    .h2 {
      color: $secondary;
      text-align: center;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 66px;
      letter-spacing: 1px;
    }
    .p {
      color: $secondary;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
  .membership-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
    .card-item {
      max-width: 440px;
      background: #ECEAE4;
      box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.19);
      .card-price {
        text-align: end;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 24px 24px 0 0;
        span {
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .card-include {
        padding: 6px 136px 26px 75px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .card-name {
        padding-left: 45px;
        color: white;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 73px;
      }
    }
  }
}

.Pro-Ser {
  background-image: url("../img/products/img.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  .Pro-Ser_heading {
    display: flex;
    flex-direction: column;
    padding: 203px 0 273px 40px;
    gap: 34px;
    h2 {
      color: $secondary;
      text-align: center;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 66px;
      letter-spacing: 1px;
    }
    p {
      color: $secondary;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

.list-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .product {
    position: relative;
    top: -110px;
    width: 752px;
    background: #FFF;
    box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.15);
    margin: 0 20px;
    .wrapper {
      padding: 27px 50px 0 50px;
      h3 {
        color: $secondary;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 43px;
      }
      .product-item {
        max-width: 652px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #E0E0E0;
        padding: 16px 0;
        .product-info {
          position: relative;
          .h6 {
            color: $secondary;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
          }
          p {
            color: $secondary;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
          }
        }
        .product-price {
          color: $primary;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        .popular {
          position: absolute;
          top: 2px;
          right: -65px;
          color: #FFF;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          background-color: $primary;
          border-radius: 3px;
          padding: 1px 6px;
        }
      }
    }
  }
}
.copyright {
  font-size: 0.8rem;
}

@import "../bootstrap/scss/bootstrap";